@{
    ViewData["Title"] = "主页";
}
<div style="height:90px"></div>
<div id="myCarousel">
    <form name="indexForm">
        <h3>登录</h3><br /><br /><br />
        <div>
            <label for="exampleInputEmail1">账号：</label>
            <input class="form-control" id="fname" type="text" placeholder="请输入账号" /><br /><br /><br />
        </div>
        <div>
            <label for="exampleInputEmail1">密码：</label>
            <input class="form-control" id="lname" type="password" placeholder="请输入密码" /><br /><br /><br />
        </div>
        <input id="Button1" class="btn btn-default"  value="登录" onclick="login()" />
    </form>

    <script>
    function login() {
        var pas = document.indexForm.lname.value;
        var name = document.indexForm.fname.value;
        var para = {};
        para.name = name;
        para.password = pas;

        $.ajax({
            type: "post",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(para),
            url: '@Url.Content("~/Home/Login")',
            success: function (res) {
                debugger;
                if (res.Result == "1") {
                    alert(res.Message);
                    window.location.href = "..\\Person\\PersonList";
                    //window.location.href = "..\\Home\\UserInfo?id=" + res.Result;

                }
                else {
                    alert(res.Message);
                }
            }
        });
    }

    </script>
</div>
