@{
    ViewBag.Title = "用户";
}
<br /><br /><br />
<h3>姓名：<label id="name">@ViewBag.DetailSource.NAME</label></h3><br /><br /><br />
<h3>密码：<label id="password">@ViewBag.DetailSource.PASSWORD</label></h3><br /><br /><br />
<h3>ID：<label id="id">@ViewBag.DetailSource.ID</label></h3><br /><br /><br />
<h3>职业：<label id="name">假数据</label></h3><br /><br /><br />
