@{
    ViewData["Title"] = "新增人员";
}
<div style="height:90px"></div>
<div>
    <script>
        function AddPerson() {
        var para = {};
        para.EMAIL = document.indexForm.EMAIL.value;
        para.HIGH = document.indexForm.HIGH.value;
        para.NAME = document.indexForm.NAME.value;
        para.PHONE = document.indexForm.PHONE.value;
        para.SEX = document.indexForm.SEX.value;
        para.WEIGHT = document.indexForm.WEIGHT.value;
        para.WORKOR = document.indexForm.WORKOR.value;
        para.ADDRESS = document.indexForm.ADDRESS.value;
        para.IMAGE = document.indexForm.IMAGE.src;
        $.ajax({
            type: "post",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(para),
            url: '@Url.Content("~/Person/AddPerson")',
            success: function (res) {
                if (res.Result == "1") {
                    alert(res.Message);
                    window.location.href = "..\\Person\\PersonList";
                    //window.location.href = "..\\Home\\UserInfo?id=" + res.Result;

                }
                else {
                    alert(res.Message);
                }
            }
        });
        }


        function ImgUpload() {

            var formData = new FormData();
            formData.append('image', $('#imgUpload')[0].files[0]);
            if ($('#imgUpload').length > 0) {
            //ajax请求
            $.ajax({
                        type: "post",
                        url:  "/Images/UploadImage",
                        data: formData,
                        dataType: 'json',
                        processData: false, // 告诉jQuery不要去处理发送的数据
                        contentType: false, // 告诉jQuery不要去设置Content-Type请求头
                        xhrFields:{withCredentials:true},
                        async: true,    //默认是true：异步，false：同步。
                        success: function (data) {

                            //给images赋值
                            var img = document.getElementById('IMAGE');
                            img.src = data.imgurl;

                            //清空上传控件（再次点击上传取消时报错）
                            var imgUploadValue = document.getElementById('imgUpload');
                            imgUploadValue.value = '';    
                        },
                    });

            } 
        }



    </script>
    <form name="indexForm">
        <h3>新增个人信息</h3><br /><br /><br />
        邮箱：<input id="EMAIL" type="text" /><br /><br /><br />
        身高：<input id="HIGH" type="text" /><br /><br /><br />
        姓名：<input id="NAME" type="text" /><br /><br /><br />
        电话：<input id="PHONE" type="text" /><br /><br /><br />
        性别：<input id="SEX" type="text" /><br /><br /><br />
        体重：<input id="WEIGHT" type="text" /><br /><br /><br />
        职业：<input id="WORKOR" type="text" /><br /><br /><br />
        地址：<input id="ADDRESS" type="text" /><br /><br /><br />
        图片上传:<input class="btn btn-default" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" type="file" onchange="ImgUpload()" id="imgUpload">
        图片：<img id="IMAGE" src="" alt="无图" class="img-rounded"><br /><br /><br />
        <input id="add" class="btn btn-info" type="button" value="保存" onclick="AddPerson()" />

    </form>
</div>
